.block__main{
    box-sizing: border-box;
}
.block__main .how__top{
    width: 100%;
    margin-bottom: 55px;
}
.block__main ol{
    list-style: decimal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
    list-style-position: inside;
}
.block__main ol li{
    box-sizing: border-box;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: #2B2C41;
}