.header {
    padding: 18px 0;
}
.header__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 28px;
    align-items: center;
}
.nav__item.subitems {
    cursor: pointer;
    position: relative;
}
.nav__item.subitems .nav__link{
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
}

.nav__item.subitems .arrow {
    position: relative;
    top: 1px;
}
.nav__item.subitems.active .arrow,
.header__mobileitem a.active .arrow{
    transform: rotate(180deg);
}
.socials {
    display: flex;
    align-items: center;
    column-gap: 8px;   
}

.header .btns {
    display: flex;
    align-items: center;
    column-gap: 10px;
}


.lang {
    position: relative;
    display: inline-block;
    z-index: 100;
}

.lang__btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
    color: var(--accent-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
    
}

.lang__dropdown,
.information {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    min-width: 52px;
    box-shadow: 0px 4px 100px 0px #0041694D;
    transform: translateY(10px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    visibility: hidden;
    pointer-events: none;
}
.lang__dropdown {
    top: calc(100% + 13px);
    left: -24%;
}
.lang__dropdown.active,
.information.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}
.lang__item {
    text-align: center;
    cursor: pointer;
    color: var(--accent-color-dark);
}

.lang__item a {
    text-decoration: none;
    color: var(--accent-color-dark);
    display: block;
    padding: 15px;
}


.lang__item:hover:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.lang__item:hover:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.arrow {
    transition: .3s;
}

.lang.active .arrow {
    transform: rotate(180deg);
}



.information {
    top: calc(100% + 30px);
    min-width: 662px;
    left: -32px;
    z-index: 100;
}
.information__content {
    padding: 0 34px;
}

.information .subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.6px;
    color: #000;
    opacity: .4;
    margin-bottom: 0;
}
.information__top {
    border-bottom: 1px solid #0000000D;
    padding-top: 21px;
    padding-bottom: 21px;
}
.information__links {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0000000D;
}
.information__list a {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--accent-color-dark);
}
.information__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.information__list .contacts {
    color: var(--accent-color-dark);
    opacity: .5;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
}
.information__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.information__socials a{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 18px 34px;
    column-gap: 16px;
    transition: background .3s;
}
.information__socials a:first-child{
    border-right: 1px solid #0000000D;
}
.information__socials a:hover {
    background: #0000000D;
}
.information__socials a:last-child:hover {
    border-bottom-right-radius: 15px;
}
.information__socials a:first-child:hover {
    border-bottom-left-radius: 15px;
}
.information__socials a span:first-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--accent-color-dark);
}
.information__socials a span:last-child {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: var(--accent-color-dark);
    opacity: .5;
    padding-top: 5px;
}
.information__text {
    display: inline-flex;
    flex-direction: column;
}
.burger {
    display: none;
}

.header__mobile {
    flex-direction: column;
    align-items: center;
    height: 94vh;
    position: absolute;
    z-index: 100;
    background-color: #F6F6F6;
    top: -100%;
    left: 0;
    width: 100vw;
    padding-top: 92px;
    padding-bottom: 50px;
    transition: .3s;
    display: none;
    overflow-y: scroll;
}
.header__mobiletitle {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;       
    color: #00416933;
    text-transform: uppercase; 
    margin-bottom: 53px;
}
.header__mobile-socials {
    margin-top: 36px;
}
.header__mobile-btns {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.header__mobile-btns a {
    text-align: center;
}
.header__mobilelist {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
}
.header__mobilenav{
    padding: 0 25px;
}

.header__mobileitem a {
    font-weight: 500;
    font-size: 21px;
    line-height: 25.2px;
    color: #004169;   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 100%;
}

.header__mobileitem,
.header__mobilenav,
.header__mobilelist,
.header__mobileitem a,
.header__mobile-drop > li {
    width: 100%;
}

.header__mobile-drop{
    border-radius: 30px;
    padding: 30px 0;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    gap: 25px;
    margin: 20px 0 5px 0;
    height: 0;
    opacity: 0;
    transition: all 800ms ease;
}
/* .header__mobile-drop.active{
    height: 100%;
    opacity: 1;
    display: flex;
    transition: all 800ms ease;
} */

.header__mobile-drop li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header__mobile-drop li a{
    font-weight: 400;
    font-size: 19px;
}

@media (max-width: 1280px) {
    .information {
        left: -200%;
    }
    .header .socials {
        display: none;
    }
}
@media (max-width: 1200px) {
    .nav__link {
        font-size: 14px;
    }
    .lang__btn {
        font-size: 14px;
    }
    .nav__list {
        column-gap: 16px;
    }
    .header .btns .btn {
        font-size: 14px;
    }
}


@media (max-width: 1000px) {
    .header .lang {
        display: none;
    }
    .header .btns {
        display: none;
    }
    .header .nav {
        display: none;
    }
    .burger {
        display: block;
    }
    .burger img:first-child {
        display: block;
    }
    .burger img:last-child {
        display: none;
    }

    .burger.active img:first-child{
        display: none;
    }
    .burger.active img:last-child {
        display: block;
    }

    .header {
        border-bottom: 1px solid #0000001A;
        border-bottom-width: 1px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #fff;
        z-index: 200;
        position: relative;
    }
    .header__mobile {
        display: flex;
        visibility: hidden;
    }
    .header__mobile.active {
        top: 6.7%;
        visibility: visible;
    }
}