.popular .text a {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: Auto;
    text-decoration-skip-ink: auto;
    color: #00A7BF;
}

.titleblock {
    position: relative;
}
.popular__top .titleblock .img {
    position: absolute;
    top: -46px;
    z-index: -1;
    right: -72px;
}
.popular__top {
    margin-bottom: 58px;
    align-items: flex-end !important;
}
.popular {
    margin-top: 130px !important;
}

.popular__cards {
    /* display: flex;
    row-gap: 21px;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(197px, 1fr));
    grid-auto-rows: minmax(140px, auto);
    gap: 21px;
    
}

.popular__card {
    /* max-width: 197px; */
    /* padding: 41px 35px; */
    background: #F6F6F6;
    border-radius: 30px;
}
.popular__card img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popular .btn {
    margin-top: 25px;
}

@media (max-width: 1000px) {
    .popular__top .titleblock .img {
        display: none;
    }
    .popular__cards {
        grid-template-columns: repeat(auto-fit, minmax(124px, 1fr));
        grid-auto-rows: minmax(88px, auto);
        row-gap: 10px;
        column-gap: 4px;
    }
    .popular__card img {
        width: 73px;
        height: 33px;
    }
}
@media (max-width: 490px){
    .popular{
        margin-top: 80px !important;
    }
    .popular__top{
        margin-bottom: 45px;
    }
    .popular .btn{
        margin-top: 45px;
    }
}