.steps__top {
    margin-bottom: 73px;
}
.steps__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 33px;
    border-bottom: 1px solid #2B2C41;
    margin-bottom: 33px;
}
.steps__item:last-child {
    border-bottom: none;
}
.steps__item:nth-child(2n) {
    flex-direction: row-reverse;
}
.steps__number {
    font-weight: 500;
    font-size: 200px;
    line-height: 160px;
    background: linear-gradient(180deg, #00A7BF 0%, #0078B4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 60px;
}
.steps__side {
    display: flex;
    align-items: center;
}
.steps__text {
    max-width: 530px;
}
.steps__title {
    font-weight: 500;
    font-size: 21px;
    line-height: 23px;
    letter-spacing: 0%;
    margin-bottom: 37px;
}
.steps__p {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0%;    
}
.steps__info {
    margin-top: 90px;
    max-width: 600px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;    
}
.steps__info .btn {
    margin-top: 55px;
}

@media (max-width: 1200px) {
    .steps__number {
        margin-right: 30px;
    }
    .steps__img:last-child img {
        width: 300px;
        height: auto;
    }
    .steps__info {
        margin-top: 40px;
    }
}