.store__main{
    position: relative;
}
.store__main > img{
    position: absolute;
    right: 0;
    top: -55px;
    z-index: -1;
}
.store__main .how__top{
    width: 100%;
}
.store__content{
    padding: 50px 0;
    background-color: #F6F6F6;
    margin-bottom: 110px;
}
.store__main .blog__carts-nav{
    margin-bottom: 55px;
}
.store__content .main__blog-carts{
    margin-bottom: 0;
    grid-template-columns: repeat(auto-fit, 306px);
}
.store__content .main__blog-carts .blog__cart{
    padding: 55px 30px 25px 30px;
    background-color: #fff;
    border-radius: 30px;
}
.store__content .main__blog-carts .blog__cart img{
    width: 50%;
    border-radius: 0;
    margin-bottom: 40px;
}
.store__content .main__blog-carts .blog__cart .blog__cart-time span{
    color: #FF003E;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}
.store__content .main__blog-carts .blog__cart p{
    font-size: 14px;
    line-height: 20px;
    color: #000000CC;
    margin-bottom: 40px;
}
.store__content .main__blog-carts .blog__cart a{
    width: max-content;
}
.store__main .how__content-ask{
    position: relative;
    background: linear-gradient(270deg, #00A7BF 0%, #0036BF 100%);
    gap: 13px;
}
.store__main .how__content-ask img:last-of-type{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 13%;
    object-fit: contain;
    display: block;
    z-index: 0;
}
.store__main .how__content-ask .how__content-ask-item p{
    z-index: 1;
    font-size: 16px;
}
.store__main .how__content-ask .how__content-ask-item h2{
    z-index: 1;
    margin-top:  27px;
    margin-bottom: 0;
    width: 75%;
}
.store__main .how__content-ask .how__content-ask-item .btn{
    z-index: 1;
}
@media(max-width: 1300px){
    .store__main > img{
        width: 30%;
        top: 82px;
    }
}
@media(max-width: 1060px){
    .store__main > img{
        width: 20%;
        top: 165px;
    }
    .store__main .how__content-ask .how__content-ask-item h2{
        width: 100%;
    }

}
@media(max-width: 1000px){
    .store__main > img{
        display: none;
    }
    .how__content-ul:nth-of-type(3).active{
        height: max-content;
        top: 235px;
        width: 88%;
    }
}
@media (max-width: 840px){
    .store__main .how__content-ask img:last-of-type{
        display: none;
    }
    .store__main .how__content-ask{
        flex-direction: column;
    }
    .store__main .how__content-ask .how__content-ask-item{
        padding-top: 0;
    }
    .store__main .how__content-ask .how__content-ask-item h2{
        font-size: 30px;
        line-height: 35px;
    }
}
@media(max-width: 670px){
    .store__content .main__blog-carts{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}